PORT="Port number"
SECRET_KEY="Bcrypt secret key"
REFRESH_KEY="Secret key to refresh access tokens"
MONGO_URI="Mongodb connection string"

BACKEND_EMAIL="Email address for the portal"
EMAIL_PASS="Email app password"

CLOUDINARY_CLOUD_NAME="Cloudinary cloud name"
CLOUDINARY_API_KEY="Cloudinary api key"
CLOUDINARY_API_SECRET="Cloudinary api secret"