PORT=5000
SECRET_KEY=d15246c549e62113279ca0c4773bf9ee84cc682f8c8ad7e62e1418020d53d967
REFRESH_KEY=1a69f1f322f5c5109b8660da1f844ec2c268eb523169e752d56b418b31bbe99c

MONGO_URI=mongodb+srv://segnitsega:DldXQwcJZ6HFc3M@cluster0.5aj6rl2.mongodb.net/CSEC-PORTAL-CLUSTER?retryWrites=true&w=majority&appName=Cluster0

BACKEND_EMAIL=sanyiitsaggaa@gmail.com
EMAIL_PASS=fhqpltsszxcueain

CLOUDINARY_CLOUD_NAME=dxtjoxxee
CLOUDINARY_API_KEY=638982618271188
CLOUDINARY_API_SECRET=esE3omb-9DDL9EJCzCnmsl7JEvQ